.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to bottom right, #333, #111);
}

input {
  width: 250px;
  padding: 10px;
  margin: 10px;
  border: 2px solid #a6d1c5;
  border-radius: 5px;
  background-color: transparent;
  color: #425f74;
  outline: none;
}

button {
  width: 270px;
  background-color: #a6d1c5;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  font-weight: bold;
}

button:hover {
  background-color: #8bd0bd;
  transform: scale(1.05);
}
