.nav {
  background-color: #fefefe;
  margin: 0;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1rem;
}

li {
  padding: 0.5rem 1rem;
}

a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: color 0.3s;
}

a:hover {
  color: #a6d1c5;
}

.outlet {
  padding: 1rem 2rem;
}
